<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Live Streaming Demonstration</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>

            <form action="" style="width: 500px;">
                <label for="fname">Input URL:</label>
                <input style="  padding: 0.2em; 
                box-sizing: border-box;
                width: 100% " type="text" id="s" name="s" value="{{ request.args.get('s') }}"><br><br>
                <input type="submit" value="Submit">
              </form>

              <br>
              <br>
            <img src="/video?q={{ request.args.get('s') }}" width="100%">
        </div>
    </div>
</div>
</body>
</html>